.agile {
  &__nav-button {
    background: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
    transition-duration: .3s;
    &:hover {
      color: #888;
    }
  }
  &__actions {
    justify-content: center;
  }
  &__nav-button {
    display: none;
  }
  &__dots {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 128px;
  }
  &__dot {
    margin: 0 10px;
    button {
      background-color: #bababa;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 10px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      transition-duration: .3s;
      width: 10px;
    }
    &--current {
      button {
        background-color: #333;
      }
    }
  }
}