html {
  font-family: 'Cargan-Regular', sans-serif;
  background-color: #f5f5f5;
}

body {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
  background-color: #fff;
}

main

.din {
  font-family: 'URW DIN', sans-serif;
}

.proxima {
  font-family: 'Proxima Nova', sans-serif;
}

.text-strike {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.text-strike::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  z-index: -1;
  height: 10px;
  width: 100%;
  background-color: #fadd0d;
}